body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.907);
}

.container {
  background-color: #2928289a;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.H1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

h1 {
  color: white;
  font-size: 25px;
  align-items: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.todo input {
  padding: 20px;
  size: 70%;
  background-color: #353333;
  border-style: none;
  border-radius: 8px;
  color: white;
  outline: none;
}

.todo button {
  color: white;
  padding: 10px;
  border-radius: 8px;
  background-color: #6200ea;
  border-style: none;
  transition: background-color 0.3s;
}

.todo button:hover {
  background-color: #3700b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list {
  background-color: #353333;
  border-radius: 8px;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list button {
  background-color: rgba(227, 43, 43, 0.762);
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.list button:hover {
  background-color: rgb(152, 31, 31);
}

li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
